// font-color
$Cyan70: #448899;
$Cyan50: #66aabb;
$Cyan20: #aaddee;
$Gray300: #e8e8e8;
$Gray70: #666666;
$Gray50: #757575;
$Gray20: #e8e8e8;
$Gray10: #f8f8f8;
$Black: #000000;
$BlueGray: #aabbcc;
$white: #ffffff;
$Gray500: #cccccc;
$BlackTransparent: rgba(0, 0, 0, 0.6);
$DarkCyanGradient: linear-gradient(45deg, #aaddee 0%, #66aabb 100%);
$LightCyanGradient: linear-gradient(270deg, #378 0%, #6ab 100%);
