@import "variable";
@import "mixin";

* {
  // border: 1px solid black;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

// 第一區
header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  .header__item {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 10px 10px;

    .header__item__logo {
      color: $Cyan70;
      @include H2;
      text-decoration: none;
    }

    .header__item__login {
      position: absolute;
      // display: block;
      top: 80px;
      left: 50%;
      transform: translate(-50%);
      flex-shrink: 0;
      width: 340px;
      height: 295px;
      border-radius: 6px;
      border: none;
      cursor: default;
      outline: none;

      &::backdrop {
        background-color: rgba(0, 0, 0, 0.25);
      }

      .header__item__login__text--H3 {
        display: flex;
        align-items: center;
        justify-content: center;
        @include Bold_H3;
        color: $Gray70;
        margin: 15px;
      }

      .header__item__login__text--body {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 310px;
        height: 22px;
        @include Medium_Body;
        color: $Gray70;
        margin: 10px 15px 15px 15px;
      }

      .header__item__login__text--createCount {
        cursor: pointer;
        &:hover {
          color: rgb(0, 255, 76);
        }
      }

      .header__item__login__text--signinInfo {
        padding: 10px 0px 0px 0px;
        @include Medium_Body;
        color: red;
      }

      .header__banner__login__Box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        input[type="email"] {
          width: 310px;
          border-radius: 5px;
          height: 46px;
          border: 1px solid #cccccc;
          @include Medium_Body;
          padding: 15px;
          margin: 0px 0px 10px 0px;
        }

        input[type="password"] {
          width: 310px;
          border-radius: 5px;
          height: 46px;
          border: 1px solid #cccccc;
          @include Medium_Body;
          font-weight: 500;
          padding: 15px;
          margin: 0px 0px 10px 0px;
        }
      }
      .header__item__login__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 310px;
        height: 47px;
        padding: 10px 20px;
        @include Regular_Btn;
        color: $white;
        background-color: $Cyan70;
        border-radius: 5px;
        cursor: pointer;
      }

      .header__item__login--close {
        position: absolute;
        right: 0;
        padding: 7px;
        margin: 10px 10px 0px 0px;
        cursor: pointer;
      }

      .header__item__login--top {
        width: 100%;
        height: 10px;
        background: linear-gradient(270deg, #378 0%, #6ab 100%);
      }
    }

    .header__item__createCount {
      position: absolute;
      // display: block;
      top: 80px;
      left: 50%;
      transform: translate(-50%);
      flex-shrink: 0;
      width: 340px;
      height: 350px;
      border-radius: 6px;
      border: none;
      cursor: default;
      outline: none;

      &::backdrop {
        background-color: rgba(0, 0, 0, 0.25);
      }

      .header__item__login__text--H3 {
        display: flex;
        align-items: center;
        justify-content: center;
        @include Bold_H3;
        color: $Gray70;
        margin: 15px;
      }

      .header__item__login__text--body {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 310px;
        height: 22px;
        @include Medium_Body;
        color: $Gray70;
        margin: 10px 15px 15px 15px;
      }

      .header__item__login__text--memberinfo {
        margin: 5px 0px 0px 0px;
        @include Medium_Body;
        color: red;
      }

      .header__item__login__text--createCount {
        cursor: pointer;
        &:hover {
          color: rgb(0, 255, 76);
        }
      }

      .header__banner__login__Box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        input[type="text"] {
          width: 310px;
          border-radius: 5px;
          height: 46px;
          border: 1px solid #cccccc;
          @include Medium_Body;
          padding: 15px;
          margin: 0px 0px 10px 0px;
        }

        input[type="email"] {
          width: 310px;
          border-radius: 5px;
          height: 46px;
          border: 1px solid #cccccc;
          @include Medium_Body;
          padding: 15px;
          margin: 0px 0px 10px 0px;
        }

        input[type="password"] {
          width: 310px;
          border-radius: 5px;
          height: 46px;
          border: 1px solid #cccccc;
          @include Medium_Body;
          font-weight: 500;
          padding: 15px;
          margin: 0px 0px 10px 0px;
        }
      }
      .header__item__login__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 310px;
        height: 47px;
        padding: 10px 20px;
        @include Regular_Btn;
        color: $white;
        background-color: $Cyan70;
        border-radius: 5px;
        cursor: pointer;
      }

      .header__item__login--close {
        position: absolute;
        right: 0;
        padding: 7px;
        margin: 10px 10px 0px 0px;
        cursor: pointer;
      }

      .header__item__login--top {
        width: 100%;
        height: 10px;
        background: linear-gradient(270deg, #378 0%, #6ab 100%);
      }
    }

    .header__item__text {
      display: flex;
      color: $Gray70;
      padding: 0px 10px 0px 5px;
      @include Medium_Body;
      cursor: pointer;

      .header__item__text--booking,
      .header__item__text--singin {
        &:hover {
          color: rgb(0, 255, 55);
        }
      }

      .header__item__text--booking {
        padding: 0px 20px 0px 0px;
      }
    }
  }
}

// 第二區
.header__banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;
  background-image: url("../../picture/welcome.png");
  background-repeat: space;
  background-size: cover;
  .header__banner__slogan {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    width: 1200px;
    height: 169px;
    padding: 10px;
    .header__banner__text--H1 {
      width: 100%;
      @include H1;
      color: $Gray10;
      padding: 0px 0px 30px 0px;
    }
    .header__banner__text--Body {
      width: 100%;
      @include Bold_Body;
      color: $Gray10;
      padding: 0px 0px 25px 0px;
    }
  }
  .header__banner__searchBox {
    display: flex;
    flex-direction: row;
    height: 46px;
    border-radius: 5px 0px 0px 5px;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px #abc;

    input[type="search"] {
      max-width: 100%;
      width: 400px;
      padding: 0px 15px;
      @include Bold_Body;
      @media (max-width: 460px) {
        width: 230px; // 當螢幕視窗小於或等於400px時，將寬度設為100%
      }
    }
  }
  .header__banner__searchBox__searchLogo {
    width: 60px;
    background-color: $Cyan70;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

// footer
footer {
  margin-top: auto;
  .footer__text {
    display: flex;
    justify-content: center;
    align-items: center;
    @include Bold_Body;
    background-color: #757575;
    color: $white;
    height: 104px;
  }
}

// 分割線
.cutLine {
  color: #e8e8e8;
  height: 1px;
  opacity: 0.3;
}

.cutLine2 {
  color: #e8e8e8;
  height: 1px;
  opacity: 0.3;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: block;
  margin: 0 auto;
  @include pad_850px {
    margin: 40px 0px;
  }
}
