* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
header .header__item {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px 10px 10px;
}
header .header__item .header__item__logo {
  color: #448899;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;
  text-decoration: none;
}
header .header__item .header__item__login {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%);
  flex-shrink: 0;
  width: 340px;
  height: 295px;
  border-radius: 6px;
  border: none;
  cursor: default;
  outline: none;
}
header .header__item .header__item__login::backdrop {
  background-color: rgba(0, 0, 0, 0.25);
}
header .header__item .header__item__login .header__item__login__text--H3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: #666666;
  margin: 15px;
}
header .header__item .header__item__login .header__item__login__text--body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 310px;
  height: 22px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 13.3px;
  color: #666666;
  margin: 10px 15px 15px 15px;
}
header .header__item .header__item__login .header__item__login__text--createCount {
  cursor: pointer;
}
header .header__item .header__item__login .header__item__login__text--createCount:hover {
  color: rgb(0, 255, 76);
}
header .header__item .header__item__login .header__item__login__text--signinInfo {
  padding: 10px 0px 0px 0px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 13.3px;
  color: red;
}
header .header__item .header__item__login .header__banner__login__Box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
header .header__item .header__item__login .header__banner__login__Box input[type=email] {
  width: 310px;
  border-radius: 5px;
  height: 46px;
  border: 1px solid #cccccc;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 13.3px;
  padding: 15px;
  margin: 0px 0px 10px 0px;
}
header .header__item .header__item__login .header__banner__login__Box input[type=password] {
  width: 310px;
  border-radius: 5px;
  height: 46px;
  border: 1px solid #cccccc;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 13.3px;
  font-weight: 500;
  padding: 15px;
  margin: 0px 0px 10px 0px;
}
header .header__item .header__item__login .header__item__login__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 310px;
  height: 47px;
  padding: 10px 20px;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 19px;
  line-height: 16px;
  color: #ffffff;
  background-color: #448899;
  border-radius: 5px;
  cursor: pointer;
}
header .header__item .header__item__login .header__item__login--close {
  position: absolute;
  right: 0;
  padding: 7px;
  margin: 10px 10px 0px 0px;
  cursor: pointer;
}
header .header__item .header__item__login .header__item__login--top {
  width: 100%;
  height: 10px;
  background: linear-gradient(270deg, #378 0%, #6ab 100%);
}
header .header__item .header__item__createCount {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%);
  flex-shrink: 0;
  width: 340px;
  height: 350px;
  border-radius: 6px;
  border: none;
  cursor: default;
  outline: none;
}
header .header__item .header__item__createCount::backdrop {
  background-color: rgba(0, 0, 0, 0.25);
}
header .header__item .header__item__createCount .header__item__login__text--H3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: #666666;
  margin: 15px;
}
header .header__item .header__item__createCount .header__item__login__text--body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 310px;
  height: 22px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 13.3px;
  color: #666666;
  margin: 10px 15px 15px 15px;
}
header .header__item .header__item__createCount .header__item__login__text--memberinfo {
  margin: 5px 0px 0px 0px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 13.3px;
  color: red;
}
header .header__item .header__item__createCount .header__item__login__text--createCount {
  cursor: pointer;
}
header .header__item .header__item__createCount .header__item__login__text--createCount:hover {
  color: rgb(0, 255, 76);
}
header .header__item .header__item__createCount .header__banner__login__Box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
header .header__item .header__item__createCount .header__banner__login__Box input[type=text] {
  width: 310px;
  border-radius: 5px;
  height: 46px;
  border: 1px solid #cccccc;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 13.3px;
  padding: 15px;
  margin: 0px 0px 10px 0px;
}
header .header__item .header__item__createCount .header__banner__login__Box input[type=email] {
  width: 310px;
  border-radius: 5px;
  height: 46px;
  border: 1px solid #cccccc;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 13.3px;
  padding: 15px;
  margin: 0px 0px 10px 0px;
}
header .header__item .header__item__createCount .header__banner__login__Box input[type=password] {
  width: 310px;
  border-radius: 5px;
  height: 46px;
  border: 1px solid #cccccc;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 13.3px;
  font-weight: 500;
  padding: 15px;
  margin: 0px 0px 10px 0px;
}
header .header__item .header__item__createCount .header__item__login__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 310px;
  height: 47px;
  padding: 10px 20px;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 19px;
  line-height: 16px;
  color: #ffffff;
  background-color: #448899;
  border-radius: 5px;
  cursor: pointer;
}
header .header__item .header__item__createCount .header__item__login--close {
  position: absolute;
  right: 0;
  padding: 7px;
  margin: 10px 10px 0px 0px;
  cursor: pointer;
}
header .header__item .header__item__createCount .header__item__login--top {
  width: 100%;
  height: 10px;
  background: linear-gradient(270deg, #378 0%, #6ab 100%);
}
header .header__item .header__item__text {
  display: flex;
  color: #666666;
  padding: 0px 10px 0px 5px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 13.3px;
  cursor: pointer;
}
header .header__item .header__item__text .header__item__text--booking:hover,
header .header__item .header__item__text .header__item__text--singin:hover {
  color: rgb(0, 255, 55);
}
header .header__item .header__item__text .header__item__text--booking {
  padding: 0px 20px 0px 0px;
}

.header__banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;
  background-image: url("../../picture/welcome.png");
  background-repeat: space;
  background-size: cover;
}
.header__banner .header__banner__slogan {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  width: 1200px;
  height: 169px;
  padding: 10px;
}
.header__banner .header__banner__slogan .header__banner__text--H1 {
  width: 100%;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 24px;
  color: #f8f8f8;
  padding: 0px 0px 30px 0px;
}
.header__banner .header__banner__slogan .header__banner__text--Body {
  width: 100%;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: Bold;
  font-size: 16px;
  line-height: 13.3px;
  color: #f8f8f8;
  padding: 0px 0px 25px 0px;
}
.header__banner .header__banner__searchBox {
  display: flex;
  flex-direction: row;
  height: 46px;
  border-radius: 5px 0px 0px 5px;
  overflow: hidden;
  box-shadow: 0px 0px 20px 0px #abc;
}
.header__banner .header__banner__searchBox input[type=search] {
  max-width: 100%;
  width: 400px;
  padding: 0px 15px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: Bold;
  font-size: 16px;
  line-height: 13.3px;
}
@media (max-width: 460px) {
  .header__banner .header__banner__searchBox input[type=search] {
    width: 230px;
  }
}
.header__banner .header__banner__searchBox__searchLogo {
  width: 60px;
  background-color: #448899;
  border-radius: 0px 5px 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

footer {
  margin-top: auto;
}
footer .footer__text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: Bold;
  font-size: 16px;
  line-height: 13.3px;
  background-color: #757575;
  color: #ffffff;
  height: 104px;
}

.cutLine {
  color: #e8e8e8;
  height: 1px;
  opacity: 0.3;
}

.cutLine2 {
  color: #e8e8e8;
  height: 1px;
  opacity: 0.3;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: block;
  margin: 0 auto;
}
@media (max-width: 850px) {
  .cutLine2 {
    margin: 40px 0px;
  }
}/*# sourceMappingURL=base.css.map */