@charset "UTF-8";
.listbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 13px 0px 0px 0px;
}

.section__listBar {
  display: flex;
  align-items: center;
  white-space: nowrap; /* 防止文字換行 */
  overflow: hidden; /* 隱藏超出的內容 */
  justify-content: space-between;
  flex-direction: row;
  width: 1200px;
  height: 50px;
  padding: 40px 0px 33px 0px;
}
.section__listBar .section__listBar__btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 9px 9px 9px 15px;
  cursor: pointer;
}
.section__listBar .section__listBar__btn .section__listBar__btn--hovered {
  display: none;
}
.section__listBar .section__listBar__btn:hover .section__listBar__btn--default {
  display: none;
}
.section__listBar .section__listBar__btn:hover .section__listBar__btn--hovered {
  display: block;
}

.section__listBar__container {
  scroll-behavior: smooth;
  display: flex;
  overflow: hidden; /* 隱藏超出的內容 */
  color: #666;
  padding: 13px 10px 13px 10px;
  cursor: pointer;
}
.section__listBar__container :hover {
  color: #000000;
}
.section__listBar__container .section__listBar__container__text {
  display: flex;
  padding: 5px 15px 5px 15px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 0px 0px;
  width: 100%;
}
.container .container__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 1200px;
}
.container .container__section .container__section__title {
  position: relative;
  display: flex;
  margin: 15px;
  flex-direction: column;
  width: calc(25% - 30px);
  height: auto;
  border: 1px #e8e8e8 solid;
  border-radius: 5px;
  cursor: pointer;
}
.container .container__section .container__section__title .container__section__title__image {
  height: 197px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .container__section .container__section__title .container__section__title__text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.6);
  font-family: "Noto Sans TC", sans-serif;
  font-weight: Bold;
  font-size: 16px;
  line-height: 13.3px;
  color: #ffffff;
  width: 100%;
  padding: 10px;
  bottom: 34px;
  line-height: 1.5;
}
.container .container__section .container__section__title .container__section__titles__mrts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 13.3px;
  color: #757575;
  padding: 10px 10px 10px 10px;
}
@media (max-width: 1200px) {
  .container .container__section .container__section {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
  }
  .container .container__section .container__section__title {
    width: calc(50% - 30px);
  }
}
@media (max-width: 600px) {
  .container .container__section .container__section {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
  }
  .container .container__section .container__section__title {
    width: 96%;
    height: 50%;
  }
  .container .container__section .container__section__title .container__section__title__text {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 10px;
  }
}

.attraction-link {
  text-decoration: none;
}/*# sourceMappingURL=index.css.map */