@charset "UTF-8";
* {
  border: 1px solid black;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
header .header__item {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px 10px 10px;
}
header .header__item .header__item__logo {
  color: #448899;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;
}
header .header__item .header__item__text {
  display: flex;
  color: #666666;
  padding: 0px 0px 0px 5px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: medium;
  font-size: 16px;
  line-height: 13.3px;
  cursor: pointer;
}
header .header__item .header__item__text .header__item__text--booking {
  padding: 0px 20px 0px 0px;
}

.header__banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;
  background-image: url("../../picture/welcome.png");
  background-repeat: space;
  background-size: cover;
}
.header__banner .header__banner__slogan {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  width: 1200px;
  height: 169px;
  padding: 10px;
}
.header__banner .header__banner__slogan .header__banner__text--H1 {
  width: 100%;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 24px;
  color: #f8f8f8;
  padding: 0px 0px 30px 0px;
}
.header__banner .header__banner__slogan .header__banner__text--Body {
  width: 100%;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: Bold;
  font-size: 16px;
  line-height: 13.3px;
  color: #f8f8f8;
  padding: 0px 0px 25px 0px;
}
.header__banner .header__banner__searchBox {
  display: flex;
  flex-direction: row;
  height: 46px;
  border-radius: 5px 0px 0px 5px;
  overflow: hidden;
  box-shadow: 0px 0px 20px 0px #abc;
}
.header__banner .header__banner__searchBox input[type=search] {
  width: 400px;
  padding: 0px 15px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: Bold;
  font-size: 16px;
  line-height: 13.3px;
}
@media (max-width: 460px) {
  .header__banner .header__banner__searchBox input[type=search] {
    width: 285px;
  }
}
.header__banner .header__banner__searchBox__searchLogo {
  width: 60px;
  background-color: #448899;
  border-radius: 0px 5px 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.listbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 13px 0px 0px 0px;
}

.section__listBar {
  display: flex;
  align-items: center;
  white-space: nowrap; /* 防止文字換行 */
  overflow: hidden; /* 隱藏超出的內容 */
  justify-content: space-between;
  flex-direction: row;
  width: 1200px;
  height: 50px;
  padding: 40px 0px 33px 0px;
}
.section__listBar .section__listBar__btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 9px 9px 9px 15px;
  cursor: pointer;
}
.section__listBar .section__listBar__btn .section__listBar__btn--hovered {
  display: none;
}
.section__listBar .section__listBar__btn:hover .section__listBar__btn--default {
  display: none;
}
.section__listBar .section__listBar__btn:hover .section__listBar__btn--hovered {
  display: block;
}

.section__listBar__container {
  scroll-behavior: smooth;
  display: flex;
  overflow: hidden; /* 隱藏超出的內容 */
  color: #666;
  padding: 13px 10px 13px 10px;
  cursor: pointer;
}
.section__listBar__container :hover {
  color: #000000;
}
.section__listBar__container .section__listBar__container__text {
  display: flex;
  padding: 5px 15px 5px 15px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 0px 0px;
  width: 100%;
}
.container .container__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 1200px;
}
.container .container__section__title {
  position: relative;
  display: flex;
  margin: 15px;
  flex-direction: column;
  width: calc(25% - 30px);
  height: auto;
  border: 1px #e8e8e8 solid;
  border-radius: 5px;
}
.container .container__section__title .container__section__title__image {
  -o-object-fit: cover;
     object-fit: cover;
}
.container .container__section__title .container__section__title__text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.6);
  font-family: "Noto Sans TC", sans-serif;
  font-weight: Bold;
  font-size: 16px;
  line-height: 13.3px;
  color: #ffffff;
  width: 100%;
  padding: 10px;
  bottom: 34px;
}
.container .container__section__title .container__section__titles__mrts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: medium;
  font-size: 16px;
  line-height: 13.3px;
  color: #757575;
  padding: 10px 10px 10px 10px;
}

.footer__text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: Bold;
  font-size: 16px;
  line-height: 13.3px;
  background-color: #757575;
  color: #ffffff;
  height: 104px;
}/*# sourceMappingURL=index.css.map */