section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0px 10px;
}

.section__text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666666;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 24px;
  line-height: 24px;
  margin: 15px;
  font-size: 20px;
  font-weight: bold;
  max-width: 980px;
  width: 100%;
  margin: 30px 10px 0px 10px;
}
@media (max-width: 600px) {
  .section__text {
    flex-direction: column;
    height: 100%;
    margin: 20px 0 0 0;
  }
}

.section_order_number {
  display: flex;
  justify-content: center;
  max-width: 980px;
  width: 100%;
}
@media (max-width: 600px) {
  .section_order_number {
    display: flex;
    height: 100%;
    margin: 0px;
    justify-content: center;
  }
}

.order_number {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #66aabb;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-size: 18px;
  font-weight: bold;
  margin: 15px 10px 10px 0px;
}
@media (max-width: 850px) {
  .order_number {
    margin: 0;
  }
}
@media (max-width: 600px) {
  .order_number {
    flex-direction: column;
    height: 100%;
    margin: 0px;
  }
}

.order_number_text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #66aabb;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-size: 18px;
  font-weight: bold;
  margin: 15px 10px 10px 30px;
}
@media (max-width: 600px) {
  .order_number_text {
    flex-direction: column;
    height: 100%;
    margin: 0px;
  }
}

.attractionContainer {
  display: flex;
  justify-content: start;
  max-width: 980px;
  width: 100%;
  height: 200px;
}
@media (max-width: 600px) {
  .attractionContainer {
    flex-direction: column;
    height: 100%;
    margin: 0px;
  }
}
.attractionContainer .attraction__img {
  display: flex;
  width: 250px;
  height: 200px;
  flex-shrink: 1;
}
@media (max-width: 600px) {
  .attractionContainer .attraction__img {
    flex-shrink: 1;
    width: 100%;
    height: 100%;
    margin: 0;
  }
}
.attractionContainer .attraction__info {
  position: relative;
  flex-direction: row;
  max-width: 980px;
  width: 100%;
  height: 170px;
  margin: 0px 0px 30px 22px;
}
@media (max-width: 600px) {
  .attractionContainer .attraction__info {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 28px 0px 0px 0px;
    border-bottom: 1px solid #e8e8e8;
  }
}
.attractionContainer .attraction__info p {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 13.3px;
  color: #666666;
  padding: 5px 0px;
  margin: 0px 0px 20px 0px;
  font-weight: bold;
}
.attractionContainer .attraction__info .attraction__info__name {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: Bold;
  font-size: 16px;
  line-height: 13.3px;
  color: #448899;
  font-weight: bold;
}
.attractionContainer .attraction__info .attraction__info__deleteBtn {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
@media (max-width: 600px) {
  .attractionContainer .attraction__info .attraction__info__deleteBtn {
    position: absolute;
    top: 75%;
    right: 0;
  }
}/*# sourceMappingURL=thankyou.css.map */