<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href={{ url_for("static", filename="styles/css/attraction.css" ) }} />
    <title>台北一日遊</title>
  </head>
  <body>
    <header>
      <div class="header__item">
        <div class="header__item__logo">
          <div class="header__item__logo">台北一日遊</div>
        </div>
        <div class="header__item__text">
          <div class="header__item__text--booking">預定行程</div>
          <div class="header__item__text--singin">登入/註冊</div>
        </div>
      </div>
    </header>
    <hr class="cutLine" />
    <section>
      <div class="section__attraction">
        <div class="section__attraction__img">
          <img src="{{ url_for('static', filename='picture/travel.jpg') }}" class="section__attraction__img" />
        </div>
        <div class="section__attraction__profile">
          <p class="section__attraction__profile__name">平安鐘</p>
          <div class="section__attraction__profile__infomation">
            <p class="section__attraction__profile__infomation__category">公共藝術</p>
            <p class="section__attraction__profile__infomation__text">at</p>
            <p class="section__attraction__profile__infomation__mrt">忠孝復興</p>
          </div>
          <div class="section__attraction__profile__bookingform">
            <p class="section__attraction__profile__bookingform__text--bold">訂購導覽行程</p>
            <p class="section__attraction__profile__bookingform__text--medium">
              以此景點為中心的一日行程，帶您探索城市角落故事
            </p>
            <form>
              <p class="section__attraction__profile__bookingform__text--bold">
                選擇日期 :
                <input type="date" name="bday"/>
              </p>
            </form>
            <div class="section__attraction__profile__bookingform__text--time">
              <p class="section__attraction__profile__bookingform__text--bold">選擇時間 :</p>
              <p class="section__attraction__profile__bookingform__text--medium">
                <img
                  src="{{ url_for('static', filename='styles/icon/radio_btn_click.svg') }}"
                  class="section__attraction__profile__bookingform__btn btn-click"
                />
                上半天
              </p>
              <p class="section__attraction__profile__bookingform__text--medium">
                <img
                  src="{{ url_for('static', filename='styles/icon/radio_btn.svg') }}"
                  class="section__attraction__profile__bookingform__btn"
                />
                下半天
              </p>
            </div>
            <div class="section__attraction__profile__bookingform__text--count">
              <p class="section__attraction__profile__bookingform__text--bold">
                導覽費用 :
                <p class="section__attraction__profile__bookingform__text--medium">
                  新台幣 2000 元
                </p>
              </p>
            </div>
            <div class="section__attraction__profile__bookingform__text--bookingBTN">
              <p>開始預約行程</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr class="cutLine2" />
    <section>
      <div class="section__attraction__information">
        <p class="section__attraction__profile__bookingform__text__description" >
          平安鐘祈求大家的平安，這是為了紀念921地震週年的設計，在喧鬧的廣場上每個小時鳴鐘，保佑平安，
          祈禱臺灣不會再發生這樣的天災。雙手合十加上108個黃色的琉璃乳丁，隨著緩緩流下的水，在底下的一個小噴泉噴出。
          雙手合十的意義，一個是祈福，一個是包容，教我們要包容這樣的改變，撫平這樣的傷口。下面的水緩緩流出，
          代表著人的生命力是不斷地延續下去。緩緩地鐘聲，卻帶來心中的寧靜。 這個平安鐘是由建築師姚仁喜與琉璃創作家王俠軍共同設計，
          長6公尺、寬5公尺，以鑄銅製成，由法鼓山文教基金會全額出資。平安鐘點綴都市景觀，不時提醒大家，面對刻骨銘心的災難痛苦，
          更應該有謙卑的一顆心。
        </p>
        <div class="section__attraction__profile__bookingform__text__address">
          <p class="section__attraction__profile__bookingform__text__address--BoldBody">景點地址 :</p>
          <p class="section__attraction__profile__bookingform__text__address--RegularContent">臺北市 大安區忠孝東路4段</p>
        </div>
        <div class="section__attraction__profile__bookingform__text__transport">
          <p class="section__attraction__profile__bookingform__text__transport--BoldBody">
            交通方式 :
          </p>
          <p class="section__attraction__profile__bookingform__text__transport--RegularContent">
            捷運站名：忠孝復興站4號出口1.公車：204、212、212直、232、232副、262、262(區間)、278、299、521、605、605(副)、
          605(新台五線)、667、903、忠孝新幹線至頂好市場站 2.車位：太平洋崇光百貨地下停車場或市民大道附近地下停車場
        </p>
        </div>
      </div>
    </section>

    <!-- <footer>
      <div class="footer__text">COPYRIGHT © 2021 台北一日遊</div>
    </footer> -->
  </body>
</html>
