{% extends "base.html" %} {% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/css/index.css') }}" />
{% endblock %} {%block content%}
<section>
  <div class="header__banner">
    <div class="header__banner__slogan">
      <div class="header__banner__text--H1">輕鬆享受台北一日悠閒</div>
      <div class="header__banner__text--Body">探索每個角落，體驗城市的深度旅遊行程</div>
      <form id="searchBox" method="GET" onsubmit="event.preventDefault();">
        <div class="header__banner__searchBox">
          <input type="search" placeholder="輸入景點名稱查詢" id="search" />
          <div class="header__banner__searchBox__searchLogo" type="button" onclick="search()" />
          <img src="{{ url_for('static', filename='styles/icon/icon_search.svg') }}" alt="icon_search" />
        </div>
      </form>
    </div>
  </div>
</section>
<section class="listbar">
  <div class="section__listBar">
    <div class="section__listBar__btn" onclick="scrollToLeft()">
      <img
        src="{{ url_for('static', filename='styles/icon/States=Default-1.svg') }}"
        alt="icon_Default_left"
        class="section__listBar__btn--default"
      />
      <img
        src="{{ url_for('static', filename='styles/icon/States=Hovered-1.svg') }}"
        alt="icon_Hovered_left"
        class="section__listBar__btn--hovered"
      />
    </div>
    <div class="section__listBar__container" id="metroStations"></div>
    <div class="section__listBar__btn" onclick="scrollToRight()">
      <img
        src="{{ url_for('static', filename='styles/icon/States=Default.svg') }}"
        alt="icon_Default_right"
        class="section__listBar__btn--default"
      />
      <img
        src="{{ url_for('static', filename='styles/icon/States=Hovered.svg') }}"
        alt="icon_Hovered_right"
        class="section__listBar__btn--hovered"
      />
    </div>
  </div>
</section>
<section class="attraction">
  <div class="container">
    <div class="container__section"></div>
  </div>
</section>
<div class="load-more-trigger"></div>
{% endblock %}
