<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href={{ url_for("static", filename="styles/css/index.css" ) }} />
    <title>台北一日遊</title>
  </head>
  <body>
    <header>
      <div class="header__item">
        <div class="header__item__logo">
          <div class="header__item__logo">台北一日遊</div>
        </div>
        <div class="header__item__text">
          <div class="header__item__text--booking">預定行程</div>
          <div class="header__item__text--singin">登入/註冊</div>
        </div>
      </div>
    </header>
    <section>
      <div class="header__banner">
        <div class="header__banner__slogan">
          <div class="header__banner__text--H1">輕鬆享受台北一日悠閒</div>
          <div class="header__banner__text--Body">探索每個角落，體驗城市的深度旅遊行程</div>
          <form id="searchBox" method="GET">
            <div class="header__banner__searchBox">
              <input type="search" placeholder="輸入景點名稱查詢" />
              <div class="header__banner__searchBox__searchLogo">
                <img src="styles/icon/icon_search.svg" alt="icon_search" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
    <section class="listbar">
      <div class="section__listBar">
        <div class="section__listBar__btn" onclick="scrollToLeft()">
          <img src="styles/icon/States=Default-1.svg" alt="icon_Default_left" class="section__listBar__btn--default" />
          <img src="styles/icon/States=Hovered-1.svg" alt="icon_Hovered_left" class="section__listBar__btn--hovered" />
        </div>
        <div class="section__listBar__container" id="metroStations">
          <div class="section__listBar__container__text">劍潭</div>
          <div class="section__listBar__container__text">士林</div>
          <div class="section__listBar__container__text">台北車站</div>
          <div class="section__listBar__container__text">南港展覽館</div>
          <div class="section__listBar__container__text">臺大醫院</div>
          <div class="section__listBar__container__text">台電大樓</div>
          <div class="section__listBar__container__text">劍潭</div>
          <div class="section__listBar__container__text">士林</div>
          <div class="section__listBar__container__text">台北車站</div>
          <div class="section__listBar__container__text">南港展覽館</div>
          <div class="section__listBar__container__text">臺大醫院</div>
          <div class="section__listBar__container__text">台電大樓</div>
          <div class="section__listBar__container__text">劍潭</div>
          <div class="section__listBar__container__text">士林</div>
          <div class="section__listBar__container__text">台北車站</div>
          <div class="section__listBar__container__text">南港展覽館</div>
          <div class="section__listBar__container__text">臺大醫院</div>
          <div class="section__listBar__container__text">台電大樓</div>
          <div class="section__listBar__container__text">劍潭</div>
          <div class="section__listBar__container__text">士林</div>
          <div class="section__listBar__container__text">台北車站</div>
          <div class="section__listBar__container__text">南港展覽館</div>
          <div class="section__listBar__container__text">臺大醫院</div>
          <div class="section__listBar__container__text">台電大樓</div>
        </div>
        <div class="section__listBar__btn" onclick="scrollToRight()">
          <img src="styles/icon/States=Default.svg" alt="icon_Default_right" class="section__listBar__btn--default" />
          <img src="styles/icon/States=Hovered.svg" alt="icon_Hovered_right" class="section__listBar__btn--hovered" />
        </div>
      </div>
    </section>
    <!-- <footer>
      <div class="footer__text">COPYRIGHT © 2021 台北一日遊</div>
    </footer> -->
  </body>
  <script src="javascript/index.js"></script>
</html>
